.header-div{
    display: flex;
    width: 100%;
    height: 7vh;
    background-color: antiquewhite;
    justify-content: space-between;
    align-items: center;
}

.logo-name-img-div{
    display: flex;
    height: 100%;
    align-items: center;
}

.logo-name-img{
    max-width: 150px;
    height: 70%;
    height: auto;
    width: auto;
}

.search-div{
    display: flex;
    gap: 10px;

}

.search-text{
    height: 3vh;
    width: 350px;
}

.search-button{
    width: 4.5vh;
    height: 100%;
}

.search-icon{
    width: 100%;
    height: 100%;
}
.right-section{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;
}

.return-text{
    font-weight: bold;
}

.orders-text{
    font-size: larger;
    font-weight: bolder;
}



.cart-link{
    height: 100%;
}

.cart-img-div{
    position: relative;
}

.cart-img{
    height: 27px;
    width: 27px;
}

.cart-count{
    position: absolute;
    top: 5px;
    left: 10px;

    font-size: 12px;
}