.content-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1400px;
    margin: auto;
}

.product-card{
    display: grid;
    grid-template-rows: auto 1fr;
    height: 400px;
    background: #fff;
    padding: 10px;
    border: 5px solid #17fff3;
    border-radius: 15px;
    background-color: aliceblue;

}
.product-img{
    width: 100%;
    height: 250px;
    object-fit: contain;
    justify-content: center;
    text-align: center;
}

.product-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.add-rem-div{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.add-item-btn{
    cursor: pointer;
    padding: 7px 15px;
    background-color: rgb(187, 187, 187);
    border-radius: 7px;
    color: #220000;
    font-size: 14px;
    font-weight: 500;
}

.remove-button{
    cursor: pointer;
    padding: 7px 15px;
    background-color: rgb(255, 0, 0);
    border-radius: 7px;
    color: #220000;
    font-size: 14px;
    font-weight: 500;
}

.remove-button:hover{
    background-color: rgb(117, 117, 117);
}

.remove-img{
    width: 20px;
    height: 20px;
    object-fit: contain;
}